.card {
  background: #ae571a;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #e5e5e5;
  cursor: pointer;
  transition: 0.2s;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}